.pokecard{
  width: 100%;
  max-width: 320px;
  font-size: 1rem;
  border-radius: 4px;
  border: 0.5em solid currentColor;
  
  transition: transform 150ms ease;
  -webkit-transition: transform 150ms ease;
  -moz-transition: transform 150ms ease;
  -ms-transition: transform 150ms ease;
  -o-transition: transform 150ms ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.pokecard:hover{
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
.pokecard_header{
  aspect-ratio: 2;
  position: relative;
  background-color: currentColor;
}
.pokecard_img{
  position:absolute;
  width: 60%;
  bottom: -3em;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.pokecard_body{
  padding-top: 3em;
}
.pokecard_name{
  text-align: center;
  text-transform: capitalize;
  font-size: 1.7rem;
}
.pokecard_types{
  display: flex;
  justify-content: center;
  gap: 2em;
  color: black;
}
.pokecard_types-item{
  text-transform: capitalize;
  position: relative;
}
.pokecard_types-item:nth-child(2)::before{
  content: '/';
  position: absolute;
  left: -1em;
}
.pokecard_types-item:first-child::before {
  content: '';
  position: absolute;
  left: -1em;
}
.pokecard_stats{
  padding: 0.5em 0.5em 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1em 0.2em;
}
.pokecard_stats-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
}
.pokecard_stats-label{
  opacity: 0.4;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: black;
}
.pokecard_stats-value{
  font-size: 1.3rem;
}
.fire{
  color: #E75C35;
}
.water{
  color: #1479FB;
}
.bug{
  color: #4AB648;
}
.grass{
  color: #416460;
  
}
.bg-grass{
  background-image: linear-gradient(180deg, #7EC6C5 0%, #ABDAC6 47.92%, #CAE099 100%);
}